@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Blaka+Hollow&family=Jersey+10&family=Londrina+Outline&family=Martel+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&family=Space+Grotesk');


body{
    padding: 10px 10px;
    background-color: black;
    color: rgb(0, 255, 0);
    font-size: 23px;
    font-family: "Jersey 10";
    font-weight: 100;
    font-style: italic;

}
